:root {
  --containerAngle:180deg;
  --circleAngle:180deg;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--containerAngle), #40e7fb, #fc68e4)
}

.circle {
  height: 100vmin;
  width: 100vmin;
  border-radius: 50%;
  background-image: linear-gradient(var(--circleAngle), #fc68e4, #40e7fb)
}
